*{
    box-sizing: border-box;
}

.tell-list{
    list-style: none;
}

.container{
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
}

.img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-holder, .img-holder{
    width: 50%;
    padding: 0 0 50px;
}

.img-holder{
    padding: 0 20px 0 0;
    max-width: 350px;
    max-height: 500px;
}

.tell{
    display: block;
}

.img-description{
    display: flex;
    flex-wrap: wrap;
}

.col-img{
    padding: 20px;
}

.btn-holder{
    background-color: blue;
    padding: 10px;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-link{
    color: yellow;
    text-decoration: none;
}